html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-image: url(images/fond.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: var(--primary-color);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-rendering: optimizeLegibility;
  font-family: var(--primary-font);
}

::-moz-selection {
  background: var(--secondary-color);
  color: var(--tertiary-color);
}

::selection {
  background: var(--secondary-color);
  color: var(--tertiary-color);
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #ffc551;
  --tertiary-color: #222222;
  --primary-font: Bahnschrift, sans-serif;
  --secondary-font: vortice-concept, serif;
}

p,
a {
  font-size: calc(1em + 0.2vw);
  line-height: 1.5;
}

a {
  position: relative;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 150px;
  z-index: 2;
}

nav > * {
  opacity: 0;
}

nav .hamburger {
  position: absolute;
  top: 50%;
  left: 5vw;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  height: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

nav .hamburger span {
  display: block;
  height: 2px;
  background-color: var(--primary-color);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

nav .hamburger span:first-child {
  width: 40px;
}

nav .hamburger span:last-child {
  width: 25px;
}

nav .hamburger:hover span {
  background-color: var(--secondary-color);
}

nav .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  font-family: var(--secondary-font);
  font-size: 1.1em;
  cursor: pointer;
}

nav button {
  position: absolute;
  top: 50%;
  right: 5vw;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  cursor: pointer;
  background: transparent;
  border: 1px solid var(--secondary-color);
  padding: 0.7em 3em;
  font-size: calc(1em + 0.2vw);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: var(--primary-color);
  -webkit-transition: background 0.3s, color 0.3s;
  transition: background 0.3s, color 0.3s;
}

nav button:hover {
  background: var(--secondary-color);
  color: var(--tertiary-color);
}

@media screen and (max-width: 800px) {
  nav {
    height: 100px;
  }
  nav .logo {
    left: unset;
    right: 5vw;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  nav button {
    display: none;
  }
}

.socials {
  position: absolute;
  top: 50%;
  right: 5vw;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 150px;
}

.socials > * {
  opacity: 0;
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}

.socials svg {
  width: 20px;
  fill: var(--primary-color);
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}

.socials svg:hover {
  fill: var(--secondary-color);
}

.bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -25%);
          transform: translate(-50%, -25%);
  z-index: -1;
  opacity: 0;
}

.bg-text p {
  font-family: var(--secondary-font);
  font-size: 11vw;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 414px) {
  .bg-text {
    -webkit-transform: translate(-50%, 150%);
            transform: translate(-50%, 150%);
  }
}

main {
  padding: 20vh 5vw 10vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 10em 1em;
}

main .intro > * {
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

main .intro p:first-child {
  font-size: calc(0.7em + 0.1vw);
  text-transform: uppercase;
  color: grey;
}

main .intro h3 {
  font-size: calc(0.7em + 0.6vw);
  margin: 0.4em 0 0.1em;
}

main .intro h1 {
  font-size: calc(1.8em + 4.4vw);
  text-transform: uppercase;
  margin: 0 0 0 -5px;
}

main .intro p:last-child {
  max-width: 60%;
}

main .watch {
  place-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3em;
  cursor: pointer;
}

main .watch > * {
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

main .watch:hover div::after {
  width: 120px;
  height: 120px;
}

main .watch:hover div svg {
  fill: var(--secondary-color);
}

main .watch div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .watch div::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border: 3px solid var(--secondary-color);
  border-radius: 100%;
  -webkit-transition: width 0.3s ease, height 0.3s ease;
  transition: width 0.3s ease, height 0.3s ease;
}

main .watch svg {
  width: 30px;
  fill: var(--primary-color);
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}

main .watch p {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

main .infos {
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 5vh;
}

main .infos > * {
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

main .infos p:first-child {
  font-size: calc(1em + 0.6vw);
  font-weight: bold;
  letter-spacing: 0.05em;
  color: var(--secondary-color);
  text-transform: uppercase;
  margin-bottom: 0;
}

main .infos P:last-child {
  text-align: right;
  text-transform: uppercase;
  margin-top: 0.5em;
}

main .infos P:last-child span {
  color: grey;
}

main .cards > p {
  text-transform: uppercase;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  margin-left: 0;
  float: left;
  position: relative;
  top: 300px;
}

main .cards > * {
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

main .cards > div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 2em;
}

main .cards > div .card {
  background-color: floralwhite;
  height: 400px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1em 2em 1em 1em;
  position: relative;
}

main .cards > div .card:nth-child(1) {
  background: no-repeat center url(images/clint.jpg);
  background-size: cover;
}

main .cards > div .card:nth-child(2) {
  background: no-repeat center url(images/iggy.jpg);
  background-size: cover;
}

main .cards > div .card:nth-child(3) {
  background: no-repeat center url(images/jack.jpg);
  background-size: cover;
}

main .cards > div .card .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: grey;
  border-radius: 20px;
  mix-blend-mode: multiply;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

main .cards > div .card > span {
  width: 30px;
  height: 2px;
  background-color: var(--primary-color);
  z-index: 1;
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s ease;
  transition: opacity 0.3s, -webkit-transform 0.3s ease;
  transition: opacity 0.3s, transform 0.3s ease;
  transition: opacity 0.3s, transform 0.3s ease, -webkit-transform 0.3s ease;
}

main .cards > div .card p {
  font-size: calc(0.8em + 0.2vw);
  line-height: 1.2;
  z-index: 1;
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s ease;
  transition: opacity 0.3s, -webkit-transform 0.3s ease;
  transition: opacity 0.3s, transform 0.3s ease;
  transition: opacity 0.3s, transform 0.3s ease, -webkit-transform 0.3s ease;
}

main .cards > div .card h4 {
  font-size: calc(0.7em + 0.6vw);
  text-transform: uppercase;
  margin: 0.5em 0;
  z-index: 1;
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s ease;
  transition: opacity 0.3s, -webkit-transform 0.3s ease;
  transition: opacity 0.3s, transform 0.3s ease;
  transition: opacity 0.3s, transform 0.3s ease, -webkit-transform 0.3s ease;
}

main .cards > div .card h4 span {
  color: var(--secondary-color);
}

main .cards > div .card:hover .overlay {
  opacity: 1;
}

main .cards > div .card:hover span,
main .cards > div .card:hover p,
main .cards > div .card:hover h4 {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

main .cards > div .card:hover span {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

main .cards > div .card:hover p {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

main .cards > div .card:hover h4 {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

@media screen and (max-width: 1078px) {
  main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 5em;
  }
  main .watch {
    place-self: unset;
    margin-left: 10vw;
    gap: 2em;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
  }
  main .watch:hover div::after {
    width: 80px;
    height: 80px;
  }
  main .watch div::after {
    width: 70px;
    height: 70px;
  }
}

.awards {
  position: relative;
  left: 5vw;
  bottom: 3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.awards > * {
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

.awards svg {
  width: 35px;
  fill: none;
  stroke: var(--secondary-color);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
}

.awards p {
  font-size: calc(0.5em + 0.2vw);
  text-transform: uppercase;
  padding-left: 1em;
}

.awards p span {
  color: var(--secondary-color);
}

footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
}

footer p {
  font-size: calc(0.5em + 0.2vw);
  text-transform: uppercase;
}
/*# sourceMappingURL=style.css.map */